.about > h1 {
    text-align: center;
}

.team-members {
    display: flex;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team-image {
    border-radius: 160px;
}