.about > h1 {
    text-align: center;
}

.team-members {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

@media (min-width: 790px) {
    .team-members {
        flex-direction: row;
    }
}

.team-member {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    width: calc(50%-10px);
}

.team-image {
    border-radius: 160px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}