.home {
    min-height: 150vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.home header {
    background-image: url(../img/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage-txt {
    margin: 40px 0;
}

.arrows-nav {
    color: gray;
    cursor: pointer;
}

.arrows-nav:hover {
    color: black;
}

#line-nav-bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    padding: 50vh 0;
}