@import './keep/keep-main.css';
@import './email/email-main.css';
@import './user-msg.css';
@import './homepage.css';
@import './nav.css';
@import './about.css';
@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Lucida';
    src: url('../fonts/Lucida\ Sans\ Unicode\ Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Staatliches-Regular.ttf');
}

@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.ttf');
}

@font-face {
    font-family: 'Unica One';
    src: url('../fonts/UnicaOne-Regular.ttf')
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular_0.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold_0.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald[wght].ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Regular.ttf');
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Bold.ttf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.logo {
    top: 0;
    left: 0;
    padding-right: 20px;
    font-family: 'Oswald';
    font-weight: 200px;
    font-size: 1.7rem;
    margin: 0 auto;
}

.dark-text {
    color: #292927
}

.app-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;
    background-color: #d3e1dc;
    border-top-left-radius: 50px;

}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #292927;
}

.app-searchAndFilter {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    color: #292927;
}

@media (min-width: 400px) {
    .app-searchAndFilter {
        flex-direction: row;
    }
}

.search-container {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-container input {
    border: none;
    outline-color: #ccffec;
    max-width: 20em;
}

.app-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-sort select {
    border: none;
    outline-color: none;
}

.app-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-filter select {
    border: none;
    outline: none;
}

.app-filter select option {
    border: none;
    outline: none;
}

.logo p {
    position: absolute;
    top: -15px;
    left: 25px;
    color: #292927;
}

.sorters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=text] {
    font-family: 'Lato', sans-serif;
    outline: none;
}

select {
    outline: none;
}