@import './keep/keep-main.css';
@import './email/email-main.css';
@import './user-msg.css';
@import './homepage.css';
@import './nav.css';
@import './about.css';

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'Lucida';
    src: url('../fonts/Lucida\ Sans\ Unicode\ Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Staatliches-Regular.ttf');
}

@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.ttf');
}

@font-face {
    font-family: 'Unica One';
    src: url('../fonts/UnicaOne-Regular.ttf')
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular_0.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold_0.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald[wght].ttf');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Regular.ttf');
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Bold.ttf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.logo {
    top: 0;
    left: 0;
    padding-right: 20px;
    font-family: 'Oswald';
    font-weight: 200px;
    font-size: 1.7rem;
    margin: 0 auto;
}

.dark-text {
    color: #292927
}

/* .logo-sign {
    color: white;
    font-size: 80px;
} */

/* .logo img {
    border-radius: 50px;
} */

.app-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;
    background-color: #00faaf;
    border-top-left-radius: 50px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-searchAndFilter {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
}

@media (min-width: 400px) {
    .app-searchAndFilter {
        flex-direction: row;
    }   
}

.search-container {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* max-height: 1.2rem; */
}

.search-container input {
    border: none;
    outline-color: #00faaf
}

.app-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-sort select {
    border: none;
    outline-color: #00faaf
}

.logo p {
    position: absolute;
    top: -10px;
    left: 15px;
}


