@import '../keep/note-image.css';
@import '../keep//note-video.css';
body {
    margin: 0%;
}

.note-item {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 200px;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #292927;
    margin-left: 10px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(212, 214, 200, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(212, 214, 200, 1);
    box-shadow: 2px 2px 2px 0px rgba(212, 214, 200, 1);
}

.yellow {
    background-color: #fdfdc4;
}

.turquoise {
    background-color: #ccffec;
}

.purple {
    background-color: #d8bef3;
}

.yellow-txt {
    color: #fdfdc4;
}

.white-txt {
    color: #ffffff;
}

.purple-txt {
    color: #d8bef3;
}

.turquoise-txt {
    color: #ccffec;
}

.clr-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px darkslategrey solid;
}

.clr-picker {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items: baseline;
}

.add-new {
    display: flex;
    flex-flow: row wrap;
}

.done {
    text-decoration: line-through;
}

.todo-item {
    list-style-type: none;
}

.note-txt {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* line-break: inherit; */
}

.note-txt:hover, .note-txt:active {
    white-space: normal;
}

.keep-app-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.pinned-notes, .notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.new-note-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.new-notes-types {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-edit {
    /* height: 50px; */
}

.note-tools{
    display: none;
    width: 150px;
}

.note-item:hover .note-tools {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.content-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

/* .pin {
    position: relative;
} */