@import '../keep/note-image.css';
@import '../keep//note-video.css';

body {
    margin: 0%;
}

.note-item {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 300px;
    max-width: 300px;
    /* border: 1px black solid;  */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #292927;
}


.yellow {
    background-color: #fafa34;
}

.turquoise {
    background-color: #00faaf;
}

.purple {
    background-color: #965bd1;
}

.yellow-txt {
    color: #fafa34;
}
.white-txt {
    color: #ffffff;
}
.purple-txt {
    color: #965bd1;
}
.turquoise-txt {
    color: #00faaf;
}

.clr-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px darkslategrey solid;
}

.clr-picker {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items: baseline;
}

.add-new {
    display: flex;
    flex-flow: row wrap;
}

.done {
    text-decoration: line-through;
}

.todo-item {
    list-style-type: none;
}

.note-txt {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* line-break: inherit; */
}

.note-txt:hover, .note-txt:active {
    white-space: normal;
}

.keep-title {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Unica One', sans-serif;
    position: absolute;
    left: 150px;
    top: 4px;
    padding-bottom: 10px;
    margin-bottom: 0;
    background-color: white;
    padding-top: 10px;
}