.email-details-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-details-date {
    margin-left: 8px;
    color: gray;
    font-size: 0.7rem;
    font-weight: 100;
}

.tools {
    display: flex;
    align-items: center;
}

.email-details-subtitle h3 {
    display: flex;
    align-items: center;
}

.email-details h2 {
    margin: 0px;
    margin-top: 10px;
}

.reply-image {
    cursor: pointer;
    margin-right: 5px;
    color: lightgray;
}

.tools .reply-image:hover, .tools .star:hover:not(.active-star) {
    color: gray;
}