@import '../email/email-list.css';
@import '../email/email-details.css';
@import '../email/email-compose.css';
@import '../email/email-search-and-filter.css';

.email-app {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "emailHeader emailHeader"
    "emailNav emailMain";
}

.email-header {
    grid-area: emailHeader;
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 10px;
}

.email-header-searchAndFilter {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

@media (min-width: 400px) {
    .email-header-searchAndFilter {
        flex-direction: row;
    }   
}

.email-nav {
    grid-area: emailNav;
    width: 80px;
    text-align: center;
    margin: 10px 0;
}

.email-list-container {
    grid-area: emailMain;
    padding: 5px;
}

.email-nav-list {
    list-style: none;
    width: 75px;
    text-align: start;
    padding: 5px;
    margin: 0px;
}

.email-nav-list li {
    margin: 5px 0;
}

.theresUnread {
    font-weight: bold;
}