@import '../email/email-list.css';
@import '../email/email-details.css';
@import '../email/email-compose.css';

.email-app {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "emailHeader emailHeader"
    "emailNav emailMain";
    font-family: 'Lato', sans-serif;
    color: #52524e;
}

.email-header {
    grid-area: emailHeader;
}

.email-nav {
    grid-area: emailNav;
    text-align: center;
    margin: 10px 0;
    margin-top: 40px;
}

.email-list-container {
    grid-area: emailMain;
}

.email-nav-list {
    list-style: none;
    width: 120px;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

.email-nav-list li {
    margin: 5px 0;
    padding: 8px 0;
    color: #9a9b94;
    border-bottom: 1px solid #e9e9e5;
}

.email-nav-list li:hover {
    color: #52524e;
} 

.theresUnread {
    font-weight: bold;
}

.email-header .search-container {
    flex-direction: column;
    align-items: center;
}

.search-dropdown {
    display: flex;
    align-items: center;
}

.search-dropdown select {
    margin-right: 5px;
    margin-top: 5px;
}

@media (min-width: 450px) {
    .email-header .search-container {
        flex-direction: row;
    }

    .search-dropdown select {
        margin-top: 0;
    }
}
