.compose-email {
    position: fixed;
    bottom: 0;
    border: none;
    width: 300px;
    height: 400px;
    margin-left: 20px;
    background-color: #d3e1dc;
    display: flex;
    flex-direction: column;
    color: #9a9b94;
}

@media (min-width: 470px) {
    .compose-email {
        width: 400px;
        height: 500px;
        margin-left: 50px;
    }
}

.compose-email-header {
    background-color: #52524e;
    color: #e9e9e5;
    height: 40px;
    padding: 10px;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
}

.close-compose-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #e9e9e5;
    cursor: pointer;
    font-size: 1rem;
}

.close-compose-btn:hover {
    color: #d4d6c8;
}

.new-mail-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

.from-input-container, .to-input-container {
    display: flex;
    align-items: center;
}

.from-input-container input, .to-input-container input {
    flex-grow: 1;
    padding: 5px 0;
    margin: 5px 0;
    margin-left: 5px;
    color: #9a9b94;
}

.email-input-subject, .email-input-body {
    padding: 5px 0;
    margin: 5px 0;
}

.email-input-body {
    flex-grow: 1;
}

.submit-btn {
    background-color: transparent;
    border: none;
    outline: none;
}
  