.compose-email {
    position: fixed;
    bottom: 0;
    border: 1px solid;
    border-top: none;
    width: 400px;
    height: 500px;
    background-color: #e5eef3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
}

.compose-email-header {
    background-color: #475a63;
    color: white;
    height: 40px;
    padding: 10px;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
}

.close-compose-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.close-compose-btn:hover {
    background-color: #5f92ab;;
}

.new-mail-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.from-input-container, .to-input-container {
    display: flex;
    align-items: center;
}

.from-input-container input, .to-input-container input {
    flex-grow: 1;
    padding: 5px 0;
    margin: 5px 0;
}

.email-input-subject, .email-input-body {
    padding: 5px 0;
    margin: 5px 0;
}

.email-input-body {
    flex-grow: 1;
}

  